* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #edf0f3, #fff 250px, #edf0f3 700px, #edf0f3) fixed;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.container {
    width: 1140px;
    margin: 0 auto;
    background: white;
}

button {
    background: #79818c;
    width: 32px;
    height: 32px;
    margin: 0 5px;
    cursor: pointer;
    border: 0;
    color: white;
    border-radius: 50%;

    &:first-child {
        background: #c0003d;

    }
}

$gc: #ccc;

header {

    .top {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 16px;
        height: 76px;

        .img {
            width: 140px;
        }

        .search {
            position: relative;

            input {
                width: 580px;
                height: 32px;
                border: 1px solid #ccc;
                border-radius: 4px;
                padding-right: 50px;
                padding-left: 10px;

                &:focus {
                    outline: none;
                }
            }

            i {
                position: absolute;
                right: 20px;
                bottom: 0;
                transform: translatey(-50%);
            }
        }




    }

    .menu {
        .yumor {
            ul {
                background: #607d8b;
                display: flex;
                list-style: none;

                li {

                    &:hover {
                        background: #78909c;
                        color: #fff;
                    }

                    a {
                        text-decoration: none;
                        font-size: 16px;
                        padding: 12px 14px 10px;
                        color: hsla(0, 0%, 100%, .8);
                        display: block;
                    }

                }
            }

            .pro {
                position: relative;

                .section {

                    display: flex;
                    align-items: center;

                    a {
                        padding: 12px 10px 10px;

                    }

                    i {
                        color: hsla(0, 0%, 100%, .8);
                        font-size: 8px;
                        margin-right: 10px;

                    }
                }

                &:hover {
                    .dr-m {
                        display: block;
                    }
                }
            }

            .dr-m {
                position: absolute;
                display: none;

                ul {
                    flex-direction: column;

                    li {
                        width: 200px;

                        a {
                            width: 500px;
                        }
                    }
                }
            }
        }
    }


}

.cards {
    .filex {
        width: 100%;
        display: flex;

        .lefit {
            width: 70%;
        }

        .righit {
            width: 25%;
            margin: 0 auto;
            padding-top: 20px;

            img {
                width: 100%;
            }

        }
    }

    .left {
        width: 100%;
        display: flex;

        .video {
            width: 100%;
            padding-left: 20px;

            video {
                width: 100%;
                padding: 20px 0px;


            }

            .img {
                display: flex;
                align-items: stretch;

                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                p {
                    color: #252728;
                    font-size: 14px;
                    padding-left: 10px;

                    &:hover {
                        color: #c0003d;
                    }
                }

                span {
                    color: #8c8d8e;
                    display: block;
                    padding-top: 5px;

                    &:hover {
                        color: #c0003d;
                    }
                }


            }
        }
    }

    .bottom {
        width: 100%;
        display: flex;

        .kino {
            padding-left: 20px;

            video {
                width: 100%;
                padding: 20px 0;
            }

            .img {
                display: flex;
                align-items: stretch;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;

                }

                p {
                    color: #252728;
                    font-size: 14px;

                    &:hover {
                        color: #c0003d;
                    }
                }

                span {
                    color: #8c8d8e;
                    display: block;
                    padding-top: 5px;
                    margin-bottom: 25px;

                    &:hover {
                        color: #c0003d;
                    }

                }

            }
        }

    }

    .a {
        margin-left: 598px;
        background: #78909c;
        color: #fff;

        &:hover {
            background: #8ba2ae;
            margin-bottom: 20px;

        }
    }

    a {
        text-decoration: none;
        font-size: 14px;
        padding: 8px 11px;
        border-radius: 6px;
    }


}

.phota{
    width: 100%;
    display: flex;
    padding-top: 50px;

    img {
        width: 100%;
    }

    .abs {
        width: 70%;

    }

    .abs1 {
        width: 25%;
        margin: 0 auto;
        padding-top: 100px;
        .rasm{
            position: sticky;
            top: 10px;
            right: 0;

        
        }

    }
}

.popul {

    h1 {

        margin: 0 20px;
        font-weight: 400;
        font-size: 21px;
        padding: 20px 0;

        &:hover {
            color: #c0003d;
        }

        i {
            color: #d2d2d2;
            display: inline-block;
            padding: 0 0 0 10px;
            font-family: Font Awesome\ 5 Free;
            font-size: 16px;
            font-weight: 900;
        }


    }

    .color {
        width: 68%;
        height: 30;
        background: #c0003d;
        margin: 20px 0 24px 20px;

        .lef {
            width: 51%;

            ul {
                display: flex;
                justify-content: space-between;


                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        font-weight: 400;
                        display: block;
                        font-size: 16px;
                        color: white;
                        padding: 10px;

                        &:hover {
                            color: white;
                            background: #acb1bc;
                        }
                    }
                }
            }
        }
    }

    .line {
        width: 70%;
        display: flex;

        .kino {
            padding-left: 20px;

            video {

                width: 100%;
            }

            .img {
                p {
                    font-size: 13px;

                    &:hover {
                        color: #c0003d;
                    }
                }

                span {
                    font-size: 13px;
                    color: #8c8d8e;
                    display: block;
                    padding-top: 5px;
                    margin-bottom: 25px;

                    &:hover {
                        color: #c0003d;
                    }
                }
            }
        }
    }

    .a {
        margin-left: 598px;
        background: #78909c;
        color: #fff;

        &:hover {
            background: #8ba2ae;
            margin-bottom: 20px;

        }
    }

    a {
        text-decoration: none;
        font-size: 14px;
        padding: 8px 11px;
        border-radius: 6px;
    }

}

.posledniy {
    h1 {

        margin: 0 20px;
        font-weight: 400;
        font-size: 21px;
        padding: 20px 0;

        &:hover {
            color: #c0003d;
        }

        i {
            color: #d2d2d2;
            display: inline-block;
            padding: 0 0 0 10px;
            font-family: Font Awesome\ 5 Free;
            font-size: 16px;
            font-weight: 900;
        }
    }

    .vids {
        display: flex;
        width: 70%;

        .kino {
            width: 100%;
            padding-left: 20px;

            video {
                width: 100%;
            }

        }

        .img {
            p {
                color: #252728;
                font-size: 14px;

                &:hover {
                    color: #c0003d;
                }
            }

            span {
                font-size: 13px;
                color: #8c8d8e;
                display: block;
                padding-top: 5px;
                margin-bottom: 25px;

                &:hover {
                    color: #c0003d;
                }
            }

        }
    }
}

.foter {
    .seti {
        padding-top: 20px;
        width: 70%;
        padding-left: 20px;

        p {
            color: #ccc;
            font-size: 11.5px;
            padding-bottom: 15px;

            a {
                font-size: 11px;
                color: #1095da;
                text-decoration: none;
            }
        }

        .her {
            a {
                text-decoration: none;
                font-size: 11px;
                color: #1095da;
            }
        }

        .his {
            p {
                padding-top: 10px;

                a {
                    color: #c0003d;
                }
            }
        }
    }
}